body{
	background-color:#37474f;
}

iframe{
	padding: 0;
	height: 100%;
	width: 100%;
}

.container{
	box-shadow: 1px 1px 12px 5px #2c3238;
	height: 678px;
	margin-top: 2em;
	max-width: 900px;
	padding: 0px;
	padding: 0px;
}

.container>div{
	padding: 0px;
}

.con-video1{
	background: #000;
	height: 50%;
	padding: 0;
}

.con-video2{
	background: blue;
	height: 50%;
	padding: 0;
}

.con-video3{
	background: green;
	height: 50%;
	padding: 0;
}

.con-video4{
	background: yellow;
	height: 50%;
	padding: 0;
}

.menu{	
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
}

.container-video:hover > .menu {
	background-color: rgba(0, 0, 0, 0.91);
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	opacity: .8;
	display: block;
	text-align: center;
	margin: auto;
}

.button-container{
	position: absolute;
	width: 300px;
	height: 100px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto !important;
}

button{
	width: 100px;
	height: 100px;
}

button>span{
	font-size: 30px;
}

.right-button{
	margin-left: 45px;
}

.jumbotron{
	margin-top: 3em;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 160px;
}

p{
	font-size: 16px !important;
	margin-bottom: 0px !important;
}